
**/bin/
**/obj/
**/out/

**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.userosscache
**/*.dbmdl
**/*.jfm
**/.DS_Store
*.DotSettings

**/.git/
**/.gitignore
**/.gitattributes

**/[Tt]ests/
**/*.[Tt]est/
**/*.[Tt]ests/
**/TestResults/
**/*.Tests.csproj

**/[Ll]ogs/
**/*.log

**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
**/*.pfx
**/*.key


Dockerfile
.dockerignore
docker-compose*.yml

**/*.md
**/LICENSE
**/CHANGELOG
**/doc/
**/docs/
